/* General Shining Effect */
.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
  transition: 0.4s;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

/* Knife Shining Animation */
.knife-container {
  position: relative;
}

.knife {
  position: relative;
  display: inline-block;
  animation: knife-shine 3s infinite;
}

@keyframes knife-shine {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.8);
  }
}
